@import '../constant.scss';

.faq-page{
    min-height: $homeHeight;
    height: fit-content;
    display: flex;
    flex-direction: column;
    min-width: 80%;
}

.faq-container{
    margin: 40px;
}
.faq-section{
    display: flex;
    flex-direction: column;
}
.faq-card{
    border-top: 1px solid #e3e3e3;
    padding: 1em 0;
    cursor: pointer;
    .faq-card-button{
        color: #3e3e3e;
        width: 100%;
    }
    .faq-card-question{
        font-weight: bold;
        letter-spacing: 1px;
    }
    .faq-card-content{
        position: relative;
        top: 0;
    }
    .faq-card-content-open{
        opacity: 1;
        transition:height 100ms ease-in-out;
    }
    .faq-card-content-close{
        opacity: 0;
        // transition:all 300ms ease-in-out, opacity 100ms ease-in-out;
    }
    .faq-card-answer{
        padding-top: 1em;
        ul{
            margin: 0px;
        }
    }
}
.faq-card:hover{
    background: rgb(248, 248, 248);
}

.faq-card:last-child{
    border-bottom: 1px solid #e3e3e3;
}


@media (max-width:$big-tablet){
    .faq-page{
        min-height: $homeHeight-mobile;
    }
}