@import '../constant.scss';

.legaldocs-page{
    min-height: $homeHeight;
    height: fit-content;
    display: flex;
    flex-direction: column;
    min-width: 80%;
}

.legaldocs-container{
    margin: 0px 40px;
    transition: margin 300ms ease-in-out;
}
.legaldocs-section{
    .legaldocs-section-header{
        font-size: 18px;
        color: #1a89f0;
    }
    .legaldocs-section-content{
        // line-height: 16px;
        .legaldocs-section-content-text{
            font-size: 14px;
            margin-bottom: 0.2em;
        }
    }
}
.legaldocs-top-nav{
    margin: 40px auto;
    max-width: 800px;
    display: flex;
    justify-content: space-around;
    .legaldocs-top-nav-button{
        width: 200px;
        border: 1px solid #1a89f0;
        border-radius: 2em;
        background: #fff;
        color: #1a89f0;
    }
    .legaldocs-top-nav-button-active{
        background: #1a89f0;
        color: #fff;
    }
}


@media (max-width:$big-tablet){
    .legaldocs-page{
        min-height: $homeHeight-mobile;
    }
}

@media (max-width:$small-tablet){
    .legaldocs-top-nav{
        margin: 20px auto;
        flex-direction: column;
        .legaldocs-top-nav-button{
            width: 80%;
            margin: 0.5em auto;
        }
    }
    .legaldocs-container{
        margin: 0px 20px;
    }
}
@media (max-width: $big-mobile){
}