@import '../../constant.scss';

.marketplace-choice-container{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.marketplace-choice-container-section{
    flex: 1;
    max-height: 50%;
    button{
        border: 1px solid #1a89f0;
        border-radius: 4em;
        background: #fff;
        color: #1a89f0;
        padding-left:2em;
        padding-right:2em;
        text-transform: uppercase;
    }
}

.marketplace-choices{
    display: flex;
    justify-content: space-between;
    margin: 1em;
    margin-bottom: 0.5em;
    transition: all 300ms ease-in-out;
    .marketplace-choices-section{
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 1em;
        transition: all 300ms ease-in-out;
        .marketplace-choices-section-inner{
            button{
                position: absolute;
                bottom: 0;
                left: 0;
                margin: 2em;
                transition: all 300ms ease-in-out;
            }
            transition: 300ms ease-in-out;
        }
    }
}

@media (min-width:$small-tablet){
    .marketplace-choices-section{
        overflow: hidden;
        .marketplace-choices-section-inner{
            opacity: 0.8;
        }
        .marketplace-choices-section-inner:hover{
            opacity: 1;
            transform: scale(1.1);
            button{
                background: #1a89f0;
                color: white;
                transform: scale(0.92) translate(20px,-15px);
            }
        }
    }
}
@media (max-width:$big-mobile){
    .marketplace-choices{
        margin: 0;
        .marketplace-choices-section{
            margin: 0;
            margin-top: 1em;
            button{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0.5em auto;
                padding: 1em;
            }
        }
        .marketplace-choices-section:first-child{
            margin-right: 0.5em;
        }
        .marketplace-choices-section:last-child{
            margin-left: 0.5em;
        }
    }
}