@import "../../constant.scss";

.marketplace-splashscreen-container {
    min-height: calc(#{$homeHeight} + 80px);
    height: 100%;
    position: relative;
    // position: fixed;
    // top: 0;
    // height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 0px;
    .marketplace-splashscreen-upper {
        width: 100%;
        .marketplace-splashscreen-image-size {
            min-height: 3em;
            margin: 0 auto;
            width: 16em;
        }
        .marketplace-splashscreen-text {
            text-transform: uppercase;
            margin: 0.5em auto 1em;
            width: max-content;
            font-size: 18px;
        }
    }
    .marketplace-splashscreen-middle {
        flex: 1;
        min-height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        .marketplace-splashscreen-section {
            flex: 1;
            display: flex;
            flex-direction: column;
            .carousel-gallery-wrapper2 {
                flex: 1;
                display: flex;
                flex-direction: column;
                .carousel-gallery2 {
                    flex: 1;
                    height: 100%;
                    max-width: 100%;
                    display: flex;
                    flex-direction: column;
                    .flickity-viewport {
                        flex: 1;
                    }
                }
                .is-selected {
                    .marketplace-splashscreen-section-cardbox {
                        padding: 1em;
                        opacity: 1;
                    }
                    .marketplace-splashscreen-section-card-body {
                        padding: 4em;
                        .marketplace-splashscreen-section-card-know-more {
                            background-image: linear-gradient(
                                rgb(255, 255, 255, 0),
                                rgb(255, 255, 255, 0),
                                rgb(255, 255, 255, 0.6)
                            );
                            p {
                                opacity: 1 !important;
                            }
                        }
                    }
                }
                .flickity-prev-next-button {
                    background: #fff;
                    // border: 2px solid black;
                    border-radius: 50%;
                    height: 2em;
                    width: 2em;
                    box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.05);
                    opacity: 1;
                    transition: opacity 300ms ease-in-out;
                    svg {
                        fill: #1a89f0;
                    }
                }
                .flickity-prev-next-button:disabled {
                    opacity: 0;
                }
            }
            .marketplace-splashscreen-section-cardbox {
                width: 80vw;
                max-width: 50em;
                // height: 60vh;
                height: 100%;
                // max-height: 100%;
                min-height: 30em;
                padding: 4em 2em;
                overflow: visible;
                opacity: 0.5;
                transition: all 300ms ease-in-out;
                .marketplace-splashscreen-section-card {
                    // border: 1px solid black;
                    height: 100%;
                    width: 100%;
                    background: transparent;
                    display: flex;
                    flex-direction: column;
                    overflow: visible;
                    .marketplace-splashscreen-section-card-title {
                        display: flex;
                        justify-content: center;
                        div {
                            border-top-left-radius: 4em;
                            border-top-right-radius: 4em;
                            p {
                                // z-index: 1;
                                text-transform: uppercase;
                                color: #1a89f0;
                                font-weight: 600;
                                letter-spacing: 1px;
                                // background: black;
                                padding: 0px 2em;
                                width: fit-content;
                            }
                        }
                    }
                    .marketplace-splashscreen-section-card-body {
                        position: relative;
                        background: white;
                        padding: 2em 2em;
                        flex: 1;
                        // padding: 2em;
                        border-radius: 2em;
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        overflow: hidden;
                        .marketplace-splashscreen-section-card-body-arch {
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            padding: 2em;
                            // overflow-x: auto;
                            p {
                                margin-top: 1em;
                                text-align: center;
                            }
                        }
                        .marketplace-splashscreen-section-card-body-feet {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-around;
                            width: 100%;
                            padding: 2em 0;
                            // overflow-x: auto;
                            div {
                                padding-top: 1em;
                            }
                            p {
                                margin-top: 1em;
                                text-align: center;
                            }
                        }
                        .marketplace-splashscreen-section-card-body-general {
                            // flex: 1;
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            .marketplace-splashscreen-section-card-body-general-row {
                                display: flex;
                                width: 100%;
                                justify-content: space-between;
                                border-bottom: 1px solid #1a89f0;
                                p {
                                    font-size: 12px;
                                    line-height: 22px;
                                }
                                .marketplace-splashscreen-section-card-body-general-value {
                                    flex: 1;
                                    padding-left: 2em;
                                    font-weight: 600;
                                }
                                .marketplace-splashscreen-section-card-body-general-data {
                                    width: 8em;
                                    p {
                                        text-align: center;
                                    }
                                }
                            }
                        }
                        .marketplace-splashscreen-section-card-body-content {
                            flex: 1;
                            max-height: 60%;
                            // overflow: auto;
                            p {
                                font-size: 12px;
                                line-height: 16px;
                                // white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            ul {
                                display: none;
                            }
                        }
                        .marketplace-splashscreen-section-card-know-more {
                            position: absolute;
                            bottom: 0%;
                            left: 0em;
                            right: 0;
                            height: 80px;
                            background-image: linear-gradient(
                                rgb(255, 255, 255, 0),
                                rgb(255, 255, 255, 0.7),
                                rgb(255, 255, 255, 1)
                            );
                            transition: all 300ms ease-in-out;
                            text-align: right;
                            cursor: pointer;
                            p {
                                position: absolute;
                                right: 2em;
                                bottom: 1em;
                                opacity: 0;
                                color: #1a89f0;
                                font-weight: 600;
                                letter-spacing: 1px;
                                transition: opacity 300ms ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }
    .marketplace-splashscreen-lower {
        min-height: fit-content;
        width: 100%;
        // margin: 0px auto;
        display: flex;
        flex-direction: column;
        .marketplace-splashscreen-lower-section {
            display: flex;
            justify-content: center;
            margin-top: 1em;
            .custom-checkbox {
                width: fit-content;
            }
            .custom-checkbox:hover {
                cursor: pointer;
                p {
                    color: #1a89f0;
                }
            }
        }
        .marketplace-splashscreen-lower-section-button {
            button {
                background: #1a89f0;
                color: #fff;
                border: 1px solid #1a89f0;
                border-radius: 4em;
                transition: all 300ms ease-in-out;
                text-transform: uppercase;
            }
            button:hover {
                background: #fff;
                color: #1a89f0;
            }
        }
    }
    .marketplace-splashscreen-close-button {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 2em;
        margin-right: 2em;
        border: 2px solid #4d4d4d;
        border-radius: 50%;
        height: 2em;
        width: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        p {
            color: #4d4d4d;
            font-weight: 600;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
        }
    }
    .marketplace-splashscreen-close-button:hover {
        border-color: #131313;
        p {
            color: #131313;
        }
    }
}

.marketplace-fitprofile-container {
    min-height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    .marketplace-fitprofile-container-section {
        width: 100%;
        .marketplace-fitprofile-image-size {
            min-height: 3em;
            margin: 0 auto;
            width: 16em;
        }
        .marketplace-fitprofile-text {
            text-transform: uppercase;
            margin: 0.5em auto 0;
            width: max-content;
            font-size: 18px;
        }
    }
    .marketplace-fitprofile-container-section-middle {
        .marketplace-fitprofile-archtype {
            margin: 0 2em;
            p {
                margin-bottom: 1em;
            }
            ul {
                padding: 0px;
                list-style: none;
                position: relative;
                // margin-top: 2em 0;
                li {
                    position: relative;
                    margin: 3em 0px;
                    .archImages {
                        display: flex;
                        flex-wrap: wrap;
                        .image-container {
                            display: flex;
                            flex-direction: column-reverse;
                            float: left;
                        }
                        .image1,
                        .image2,
                        .image3 {
                            background-position: center center;
                            background-size: cover;
                            margin: 1rem 2rem;
                        }
                        .image1 {
                            height: 155px;
                            width: 240px;
                        }
                        .image2 {
                            height: 106px;
                            width: 254px;
                        }
                        .image3 {
                            height: 155px;
                            width: 180px;
                        }
                    }
                    p {
                        margin-bottom: auto;
                    }
                    p:first-child {
                        position: relative;
                        left: 1em;
                        font-weight: 600;
                    }
                }
                li::before {
                    content: " ";
                    position: absolute;
                    top: 0.6em;
                    height: 4px;
                    width: 4px;
                    background: black;
                    border: 1px solid black;
                    border-radius: 50%;
                }
            }
        }
        .marketplace-fitprofile-generalinfo {
            .marketplace-fitprofile-generalinfo-image {
                background-size: cover;
                background-position: center;
                height: 20em;
                width: 24em;
                margin: 1em 0;
                transition: all 300ms ease-in-out;
            }
            .marketplace-fitprofile-section-card-body-general {
                flex: 1;
                display: flex;
                flex-direction: column;
                width: 100%;
                .marketplace-fitprofile-section-card-body-general-row {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #1a89f0;
                    padding: 0.5em 0;
                    margin: 0 8em;
                    p {
                        font-size: 14px;
                    }
                    .marketplace-fitprofile-section-card-body-general-value {
                        flex: 1;
                        padding-left: 2em;
                        font-weight: 600;
                    }
                    .marketplace-fitprofile-section-card-body-general-data {
                        width: 12em;
                        p {
                            text-align: center;
                        }
                    }
                }
                .marketplace-fitprofile-section-card-body-general-row:hover {
                    background: rgb(223, 223, 223);
                }
                .marketplace-fitprofile-section-card-body-general-row:first-child {
                    background: transparent;
                }
            }
        }
        .marketplace-fitprofile-feettype {
            margin: 0px 4em;
            .marketplace-fitprofile-feettype-section {
                margin-bottom: 2em;
                .feetImages {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    margin: 1em auto;
                    .image-container {
                        display: flex;
                        flex-direction: column;
                        p {
                            text-align: center;
                        }
                    }
                    .image {
                        background-position: center center;
                        background-size: cover;
                        margin: 1rem 2rem;
                        height: 7.2em;
                        width: 10em;
                    }
                }
                ul {
                    padding: 0px;
                    li {
                        margin: 1em 0px;
                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .marketplace-fitprofile-container-section-lower {
        .marketplace-fitprofile-container-section-button {
            display: flex;
            width: 100%;
            justify-content: center;
            margin: 2em 0;
            button {
                background: #1a89f0;
                color: #fff;
                border: 1px solid #1a89f0;
                border-radius: 4em;
                transition: all 300ms ease-in-out;
                text-transform: uppercase;
            }
            button:hover {
                background: #fff;
                color: #1a89f0;
            }
        }
    }
}

.marketplace-splashscreen-lower-section-button-overlay,
.marketplace-fitprofile-container-section-button-overlay {
    display: none;
    height: 40px;
    width: 100%;
}

@media (max-width: $big-tablet) {
    .marketplace-fitprofile-container {
        .marketplace-fitprofile-container-section-middle {
            .marketplace-fitprofile-generalinfo {
                .marketplace-fitprofile-section-card-body-general {
                    .marketplace-fitprofile-section-card-body-general-row {
                        margin: 0 4em;
                        .marketplace-fitprofile-section-card-body-general-data {
                            width: 8em;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $small-tablet) {
    .marketplace-splashscreen-container {
        .marketplace-splashscreen-section {
            .carousel-gallery-wrapper2 {
                .is-selected {
                    .marketplace-splashscreen-section-cardbox {
                        padding: 0.5em;
                    }
                }
            }
            .marketplace-splashscreen-section-cardbox {
                padding: 2em 0.5em;
                .marketplace-splashscreen-section-card {
                    .marketplace-splashscreen-section-card-title {
                    }
                    .marketplace-splashscreen-section-card-body {
                        .marketplace-splashscreen-section-card-know-more{
                            p{
                                left: 0;
                                right: 0 !important;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $big-mobile) {
    .marketplace-splashscreen-container {
        .marketplace-splashscreen-upper {
        }
        .marketplace-splashscreen-middle {
            .marketplace-splashscreen-section {
                .carousel-gallery-wrapper2 {
                    .flickity-prev-next-button {
                        display: none;
                    }
                    .is-selected {
                        .marketplace-splashscreen-section-cardbox {
                            padding: 1em 0.5em;
                            opacity: 1;
                        }
                    }
                }
                .marketplace-splashscreen-section-cardbox {
                    width: 90vw;
                    opacity: 0.7;
                    padding-left: 0.5em;
                    padding-right: 0.5em;
                    .marketplace-splashscreen-section-card {
                        .marketplace-splashscreen-section-card-body {
                            padding: 1em;
                            .marketplace-splashscreen-section-card-body-arch {
                                padding: 1em;
                                height: 100%;
                                justify-content: space-around;
                                flex-direction: column;
                                // padding: 2em;
                                div {
                                    margin: 0 auto;
                                }
                            }
                            .marketplace-splashscreen-section-card-body-feet {
                                padding: 1em;
                            }
                            .marketplace-splashscreen-section-card-body-general {
                                padding: 0.5em 0;
                                .marketplace-splashscreen-section-card-body-general-row {
                                    .marketplace-splashscreen-section-card-body-general-value {
                                        padding-left: 1em;
                                    }
                                    .marketplace-splashscreen-section-card-body-general-data {
                                        width: 5em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .marketplace-splashscreen-lower {
            .marketplace-splashscreen-lower-section-button {
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 40px;
                button {
                    height: 100%;
                    width: 100%;
                    border-radius: 0px !important;
                }
            }
        }
        .marketplace-splashscreen-section-not-mobile {
            display: none;
        }
    }
    .marketplace-fitprofile-container {
        padding-bottom: 0;
        .marketplace-fitprofile-container-section-middle {
            .marketplace-fitprofile-archtype {
                margin: 0 0.5em;
                ul {
                    li {
                        .archImages {
                            .image-container {
                                .image1 {
                                    height: 130px;
                                    width: 195px;
                                }
                                .image2 {
                                    height: 88px;
                                    width: 200px;
                                }
                                .image3 {
                                    height: 155px;
                                    width: 180px;
                                }
                            }
                        }
                    }
                }
            }
            .marketplace-fitprofile-generalinfo {
                margin: 0 0.5em;
                .marketplace-fitprofile-section-card-body-general {
                    margin-bottom: 2em;
                    .marketplace-fitprofile-section-card-body-general-row {
                        margin: 0;
                        .marketplace-fitprofile-section-card-body-general-value {
                        }
                        .marketplace-fitprofile-section-card-body-general-data {
                            width: 6em;
                        }
                    }
                }
            }
            .marketplace-fitprofile-feettype {
                margin: 0 0.5em;
            }
        }
        .marketplace-fitprofile-container-section-lower {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 40px;
            .marketplace-fitprofile-container-section-button {
                margin: 0;
                button {
                    width: 100%;
                    border-radius: 0px;
                }
            }
        }
        .footer-inView {
            position: unset;
        }
    }
    .marketplace-splashscreen-lower-section-button-overlay,
    .marketplace-fitprofile-container-section-button-overlay {
        display: block;
    }
    .marketplace-splashscreen-lower-section-button-overlay-with-footer {
        display: none;
    }
}

@media (max-width: $average-mobile) {
    .marketplace-fitprofile-container {
        .marketplace-fitprofile-container-section-middle {
            .marketplace-fitprofile-generalinfo {
                .marketplace-fitprofile-generalinfo-image {
                    height: 14em;
                    width: 20em;
                }
            }
        }
    }
}
