@import '../../constant.scss';
@import './profile.scss';
@import './wishlist.scss';
@import './product.scss';
@import './fitprofile.scss';
@import './choice.scss';

$marketPlaceNavIconSize: 1em;

@mixin floatingPanel($floatMe: false) {
    @if $floatMe {
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        position: sticky;
        top: calc(#{$headerHeight});
        border-bottom: 1px solid #e1e1e1;
        // max-height: $homeHeight;
        // overflow-y: auto;
    }
}


.marketplace-profile-dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: $headerHeight;
    left: -120px;
    text-align: left;
    width: calc(100% + 2*120px);
    background:#fff ;
    padding: 20px;
    color: #3e3e3e;
    .marketplace-profile-dropdown-user-name{
        margin-bottom: 6px;
        font-size: 16px;
        font-weight: bold;
        color: #58606a
    }
    .marketplace-profile-dropdown-user-id{
        font-size: 16px;
        font-weight: bold;
    }
    .marketplace-profile-dropdown-button{
        margin-top: 10px;
        letter-spacing: 1px;
        width: 100%;
        a{
            font-weight: normal !important;
        }
    }
    .marketplace-profile-dropdown-button--selected{
        // a{
            position: relative;
            width: fit-content;
        // }
    }
    .marketplace-profile-dropdown-button--selected::before{
        content:' ';
        position: absolute;
        bottom:0;
        width: 100%;
        height: 1px;
        background: #1a89f0;
    }
    .horizontal-separator{
        margin-top: 10px;
    }
    .marketplace-profile-dropdown-button--selected,
    .marketplace-profile-dropdown-button:hover{
        a{
            font-weight: bold !important;
        }
    }
    ul{
        li:before{
            display: none;
        }
    }
}

.marketplace-gallery-image{
    background-image:url("../../../assets/06_BG-home.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // margin-top: 40px;
    min-height: 350px;
    width: 100%;
}

.marketplace-filter-icon{
    height: 1rem;
    width: 2rem;
}
.marketplace-empty-bag-icon{
    height: 4rem;
    width: 4rem;
}
.marketplace-icon{
    // width: calc( #{$marketPlaceNavIconSize} + 1em);
    // height: calc( #{$marketPlaceNavIconSize} + 1em);
    width: 1.6em;
    height: 1.6em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #fff;
}
.marketplace-mobile-icon{
    // width: calc( #{$marketPlaceNavIconSize} + 1em);
    // height: calc( #{$marketPlaceNavIconSize} + 1em);
    width: 1.5em;
    height: 2em;
    margin-left: auto;
    margin-right: 1.5em;
    // border: 1px solid #fff;
}
.marketplace-page{
    min-height: $homeHeight;
    max-height: fit-content;
}
.marketplace-section{
    // padding: 0px 40px;
    // width: 100%;
    // margin-bottom: 20px;
    .paginationPanel{
        margin: 40px auto;
        .pagination{
            list-style-type: none;
            padding: 0px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            font-size: 22px;
            font-weight: bold;
            li{
                display: inline-block;
                height: min-content;
                width: min-content;
                a{
                    transition: 100ms ease-in-out;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    padding: 6px 14px;
                    color: #3e3e3e;
                    margin: 0px calc(0.5em + 1px);
                }
            }
            li:hover{
                a{
                    transition: 100ms ease-in-out;
                    margin: 0px 0.5em ;
                    border-color: #1a89f0;
                    color: #1a89f0;
                    border-width: 2px;
                }
            }
            a::selection{
                background: transparent;
            }
            .previous,
            .next{
                a{
                    border-color: #1a89f0;
                    color: #1a89f0;
                }
            }
            .disabled{
                a{
                    transition: 300ms ease-in-out;
                    opacity: 0.8;
                    border-color: #6b6b6b !important;
                    color: #6b6b6b !important;
                }
                a:hover{
                    cursor: default;
                    border-width: 1px;
                }
            }
            .active{
                a{
                    background: #1a89f0;
                    color: white;
                }
            }
            .active:hover{
                a{
                    color: white;
                }
            }
        }
    }
    .marketplace-bottom-navbar,
    .marketplace-bottom-navbar-overlay{
        min-height:40px;
        height: 40px;
        display: none;
    }
    .marketplace-bottom-navbar{
        // display: none;
        width: 100%;
        .marketplace-bottom-navbar-secondary-button,
        .marketplace-bottom-navbar-primary-button{
            height: 100%;
            width: 50%;
            background: #fff;
            border: 1px solid #1a89f0;
            color: #1a89f0;
            border-radius: 0px;
        }
        .marketplace-bottom-navbar-primary-button{
            background: #1a89f0;
            color: #fff;
        }
    }
    .marketplace-bottom-navbar-is-fixed{
        position: fixed;
        bottom: 0;
        z-index: 1;
    }
}
.marketplace-section-padding{
    padding: 0px 40px;
}
.marketplace-filter-userId{
    margin: 30px 40px 10px;
    // border: 1px solid black;
    display: flex;
    justify-content: space-between;
    .user-id-text,
    .filter-text{
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .filter-text{
        padding-left: 18px;
    }
    .user-name-id-separator{
        width: 2px;
        height: 36px;
        background: #1a89f0;
        margin: 0px 18px;
    }
}
.marketplace-dummy-card,
.marketplace-card{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 240px;
    min-height: fit-content;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 1em;
    .cart-images{
        position: relative;
        border: 0.5px solid #e1e1e1;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        // width: 240px;
        // height: 50%;
        width: 100%;
        div:first-child{
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;    
            z-index: -1;
        }
    }
    .cart-images:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
    .cart-content{
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-left: 0.5px solid #e1e1e1;
        border-right: 0.5px solid #e1e1e1;
        padding: 15px 10px 10px;
        z-index: 0;
        .wishlist-button-overlay{
            position: absolute;
            z-index: 1;
            right: 20px;
            top: 20px;
            height: 20px;
            width: 20px;
        }
        .cart-content-section{
            align-items: center;
            .cart-content-title{
                text-transform: uppercase;
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 1px;
                color: #58606a;
            }
            .cart-content-wishlist{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: fit-content;
                cursor: pointer;
            }
            .cart-content-description{
                font-size: 14px;
                font-weight: 600;
                color: #707070;
            }
            .cart-content-id{
                font-size: 10px;
                color: #707070;
                // font-weight: bold;
            }
            .cart-content-discount{
                font-size: 12px;
                color: #1a89f0;
            }
            .cart-content-price{
                display: flex;
                .cart-content-new-price{
                    font-weight: bold;
                    margin-right: 8px;
                    font-size: 16px;
                    font-weight: bold;
                    color:#3e3e3e;
                }
                .cart-content-old-price{
                    font-size: 12px;
                    color:#707070;
                    text-decoration: line-through;
                }
            }
            .cart-content-star-rating{
                display: flex;
                height: fit-content;
                // align-items: baseline;
                .cart-content-rating{
                    font-size: 12px;
                    font-weight: bold;
                    color: #707070;
                }
            }
        }
    }
    .cart-button{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 30px;
        font-size: 12px;
        text-align: center;
        border: 0.5px solid #e1e1e1;
        color: #707070;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        transition: 300ms ease;
    }
    .cart-button-added{
        color: #1a89f0;
    }
}
.marketplace-dummy-card{
    min-height: 0px;
    height: 0px;
    margin-bottom: 0;
    margin-top: 0;
}
.marketplace-card:hover{
    .cart-button{
        background: #fff;
        color: #1a89f0;
        transition: 300ms ease;
    }
    .cart-button:hover{
        background: #1a89f0;
        color: #fff;
        transition: 300ms ease;
    }
}
.marketplace-card::selection{
    background: transparent;
}
.marketplace-filter{
    // position: -webkit-sticky;
    // position: -moz-sticky;
    // position: -ms-sticky;
    // position: -o-sticky;
    // position: sticky;
    // top: calc(#{$headerHeight});
    // border-bottom: 1px solid #e1e1e1;
    @include floatingPanel($floatMe: true );
    min-width: 266px;
    height: fit-content;
    border-right: 1px solid #e1e1e1;
    .marketplace-filter-cards{
        max-height: calc(#{$homeHeight} - 40px);
        overflow-y: auto;
    }
    .filter-card{
        min-height: fit-content;
        width: 100%;
        height: max-content;
        padding: 20px;
        padding-left: 30px;
        padding-right: 10px;
        .filter-title{
            font-size: 15px;
            font-weight: bold;
            padding-left: 10px;
            color: #58606a;
            text-transform: uppercase;
            margin-bottom: 0.5rem;
        }
        .filter-content{
            .filter-option{
                height: 30px;
                display: flex;
                align-items: center;
                font-size: 14px;
                // font-weight: 600;
                color: #3e3e3e;
                padding: 0px 10px;
                margin-bottom: 4px;
                .filter-option-name{
                    text-transform: capitalize;
                    margin-left: 4px;
                }
                .filter-option-qty{
                    min-width: 30px;
                    text-align: center;
                }
            }
            .filter-option:hover{
                background: #f1f1f1;
                // border-radius: 4px;
                // path{
                //     fill:#1a89f0
                // }
            }
        }
    }
}
.marketplace-menu{
    flex: 1;
    ul{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        list-style: none;
        align-items: stretch;
        padding: 0px;
        margin: 0px;
        margin-right: 20px;
        margin-top: 20px;
        li{
            float: left;
        }
        li::selection{
            background: transparent;
        }
    }
}

.marketplace-navbar{
    li{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        min-width: 80px;
        margin-left: 4rem !important;
        text-align: center;
        a::before{
            display: none;
        }
    }
    li::before{
        content:' ';
        position: absolute;
        bottom: 0;
        height: 0px;
        width: 100%;
        background: #1a89f0 !important;
        transition: 100ms;
    }
    li:hover:before{
        height: 3px !important;
        width: 100%;
    }
    .marketplace-navbar-icon-active:before{
        height: 3px;
        width: 100%;
    }

}
.no-background{
    background: none;
}
.center-text{
    text-align: center;
}
.lighter-text{
    color: #6b6b6b;
}
.CustomQuantityButton{
    path{
        transition: 300ms ease-in-out;
    }
    button:hover{
        path{
            fill: #fff;
        }
    }
}
.bag-container{
    position: fixed;
    top: calc(#{$headerHeight} - 1px);
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 32em;
    background: rgb(255,255,255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 28px;
    z-index: 2;
    transition: 300ms ease-in-out;
    .bag-section{
        width: 100%;
        height: fit-content;
        .bag-section-title{
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 1px;
            margin-bottom: 24px;
        }
        .bag-section-title2{
            font-size: 20px;
            letter-spacing: 1px;
            margin: 12px 0px;
            p{
                font-size: 20px;
            }
            p:last-child{
                font-weight: bold;
            }
        }
    }
    .bag-card-container{
        height: 100%;
        overflow-y: auto;
        .bag-card{
            width: 100%;
            margin: 10px auto;
            display: flex;
            .bag-card-image{
                position: relative;
                border: 0.5px solid #e1e1e1;
                border-radius: 1em;
                min-width: 6em;
                div:first-child{
                    border-radius: 1em;
                }
            }
            .bag-card-image:after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }
            .bag-card-content{
                flex:1;
                margin-left:1em;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .bag-card-title{
                    font-size: 14px;
                    color:#3e3e3e;
                    font-weight: bold;
                    letter-spacing:1px;
                }
                .bag-card-description{
                    font-size: 12px;
                    color: #707070;
                }
                .bag-card-price{
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
        .bag-card-separator{
            width: 100%;
            height: 0.5px;
            background: #e1e1e1;
        }
        .bag-card-separator:last-child{
            display: none;
        }
    }
}
.bag-container-open{
}
.bag-container-close{
    transform: translateX(100%);
}
.filter-container{
    position: fixed;
    top: calc(#{$headerHeight} - 1px);
    bottom: 0;
    right: 0;
    width: 100vw;
    background: rgb(255,255,255);
    display: none;
    flex-direction: column;
    z-index: 2;
    transition: 300ms ease-in-out;
    overflow-y: auto;
    .mobile-filter-card{
        padding: 20px;
        border-top: 1px solid #e3e3e3;
        .mobile-filter-title{
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1px;
            margin-bottom: 0.5em;
        }
        .mobile-filter-content{
            .mobile-filter-option{
                height: 30px;
                display: flex;
                align-items: center;
                font-size: 14px;
                // font-weight: 600;
                color: #3e3e3e;
                // padding: 0px 10px;
                margin-bottom: 4px;
                .mobile-filter-option-name{
                    text-transform: capitalize;
                    margin-left: 4px;
                }
                .mobile-filter-option-qty{
                    min-width: 30px;
                    text-align: center;
                }
            }
        }
        .mobile-filter-content{
            position: relative;
            top: 0;
            transition:all 300ms ease-in-out, opacity 300ms ease-in-out;
        }
        .mobile-filter-content-open{
            opacity: 1;
            transition:all 300ms ease-in-out, opacity 300ms ease-in-out;
        }
        .mobile-filter-content-close{
            opacity: 0;
            display: none;
            transition:all 300ms ease-in-out, opacity 100ms ease-in-out;
        }
    }
    .mobile-filter-card:last-child{
        border-bottom: 1px solid #e3e3e3;
    }
    .filter-container-bottom-bar-overlay,
    .filter-container-bottom-bar{
        min-height: 40px;
        height: 40px;
    }
    .filter-container-bottom-bar{
        position: fixed;
        bottom: 0;
        display: flex;
        width: 100%;
        .filter-container-primary-button,
        .filter-container-secondary-button{
            height: 100%;
            width: 50%;
            border-radius: 0;
            border: 1px solid #1a89f0;
            color: #1a89f0;
            background: #fff;
        }
        .filter-container-primary-button{
            color: #fff;
            background: #1a89f0;
        }
    }
}
.filter-container-close{
    transform: translateX(-100%);
}


@media (max-width: $big-laptop){
    .marketplace-dummy-card,
    .marketplace-card{
        width: 200px;
        // min-height: 400px;
    }
    .marketplace-dummy-card{
        height: 0px;
        min-height: 0px;
    }
    .marketplace-filter{
        min-width: 240px;
    }
}

@media (max-width: $small-laptop){
    .marketplace-gallery-image{
        min-height: 320px;
    }
    .marketplace-icon{
        width: 1.6em;
        height: 1.6em;
    }
    .marketplace-navbar{
        li{
            margin-left: 3rem !important;
        }
    }
    .marketplace-page{
        .marketplace-filter{
            min-width: 240px;
        }
    }
}

@media (max-width: $big-tablet){
    .bag-container,
    .filter-container{
        top: $headerHeight-mobile;
    }
    .marketplace-gallery-image{
        min-height: 300px;
        // margin-top: 20px;
    }
    .marketplace-icon{
        width: 1.2em;
        height: 1.2em;
    }
    .marketplace-navbar{
        li{
            margin-left: 1rem !important;
        }
    }
    .marketplace-page{
        min-height: $homeHeight-mobile;
        max-height: fit-content;
        .marketplace-section-padding{
            padding: 0px 20px
        }
        .marketplace-menu{
            ul{
                margin-right: 20px;
            }
        }
        .marketplace-filter{
            min-width: 200px;
            top: $headerHeight-mobile;
            .marketplace-filter-cards{
                max-height: calc(#{$homeHeight-mobile} - 40px);
                overflow-y: auto;
            }
            .filter-card{
                padding-left: 10px;
            }
        }
    }
    .marketplace-profile-dropdown{
        top: $headerHeight-mobile;
    }
}

@media (min-width: $small-tablet){
    .marketplace-card:hover{
        transform: translate(0,2px) scale(1.05);
    }
}
@media (max-width: $small-tablet){
    .bag-container{
        max-width: 100vw;
        .bag-section:first-child,
        .horizontal-separator-thick{
            display: none;
        }
        .bag-card-separator:first-child{
            display: block;
        }
        .bag-card-separator:last-child{
            display: block;
        }
    }
    .marketplace-gallery-image{
        display: none;
    }
    .marketplace-section{
        .paginationPanel{
            margin: 0px auto;
        }
        .marketplace-bottom-navbar-overlay{
            display: block;
        }
        .marketplace-bottom-navbar-overlay-disable{
            display: none;
        }
        .marketplace-bottom-navbar{
            display: flex;
        }
    }
    .cart-content{
        .cart-content-title{
            font-size: 14px !important;
        }
        .cart-content-new-price,
        .cart-content-description{
            font-size: 12px !important;
        }
        .cart-content-old-price,
        .cart-content-rating,
        .cart-content-discount{
            font-size: 10px !important;
        }
        .cart-content-id{
            display: none;
        }
    }
    .cart-button{
        border-radius: unset;
    }
    .pagination{
        font-size: 16px !important;
        li{
            a{
                padding: 6px 12px !important;
                margin: 0px calc(0.2em + 1px) !important;
            }
        }
        li:hover{
            a{
                margin: 0px 0.2em !important;
            }
        }
    }
    .marketplace-menu{
        ul{
            margin: 0px !important;
            // margin-right: 0px;
            li{
                width: 50%;
            }
            li:last-child{
                margin-bottom: 40px;
            }
        }
    }
    .marketplace-dummy-card,
    .marketplace-card{
        margin: 0;
        width: 100%;
        min-height: auto;
        border-radius: unset;
        .cart-images{
            border-radius: unset;
            div:first-child{
                border-radius: unset;
            }
        }
        .cart-button{
            border-radius: unset;
        }
    }
    .marketplace-dummy-card{
        min-height: 0px;
    }
    .marketplace-filter-userId,
    .marketplace-filter{
        display: none;
    }
    .filter-container{
        display: flex;
    }
}

@media (max-width:$big-mobile){
    .marketplace-page{
        .pagination{
            li{
                a{
                    margin: 0px calc(0.1em + 1px) !important;
                }
            }
            li:hover{
                a{
                    margin: 0px 0.1em !important;
                }
            }
        }
    }
}