@import '../../constant.scss';

.wishlist-page{
    min-height: $homeHeight;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.wishlist-empty-icon{
    height: 4rem;
    width: 4rem;
}

.wishlist-container{
    position: relative;
    margin: 40px;
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .wishlist-page-header{
        display: flex;
        // border: 1px solid gray;
        position: relative;
    }
    .marketplace-menu{
        ul{
            margin: 0;
            display: block;
            li{
                .marketplace-card{
                    position: relative;
                    margin: 10px;
                    min-height: unset;
                }
            }
        }
    }
}

@media (max-width:$big-tablet){
    .wishlist-page{
        min-height: $homeHeight-mobile;
    }
    .wishlist-container{
        margin-left: 30px;
        margin-right: 30px;
    }
}
@media (max-width:$small-tablet){
    .wishlist-container{
        margin:0px;
        .wishlist-page-header{
            margin-left: 20px;
            display: none;
        }
        .marketplace-menu{
            ul{
                margin: 0;
                li{
                    .marketplace-card{
                        margin: 0px;
                    }
                }
            }
        }
    }
}