@import '../constant.scss';

.custom-checkbox{
    display: flex;
    // justify-content: space-between;
    align-items: center;
    width: 100%;
    .custom-checkbox-icon{
        display: flex;
        justify-content: center;
        border: 1px solid #3e3e3e;
        border-radius: 4px;
        height: fit-content;
        width: fit-content;
    }
    .active-checkbox{
        border-color: #1a89f0;
    }
    .checkbox-label{
        margin-left: 4px;
    }
}
.custom-checkbox:hover{
    .custom-checkbox-icon{
        border-color: #1a89f0;
    }
}

.modal-popup{
    align-items: center;
    .modal-back-button{
        display: none;
    }
    .modal-content{
        border-radius: 1.5em;
        position: relative;
        max-width: 40em;
    }
    input{
        min-width: fit-content;
    }
}
.modal-popup-individual-padding{
    .modal-content{
        padding: 0px;
        .modal-popup-header{
            padding: 2rem 2rem 0px;
        }
        .modal-popup-content{
            padding: 0rem 2rem;
        }
        .modal-popup-footer{
            padding: 0rem 2rem 2rem;
        }
    }
    .modal-popup2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .modal-popup-content{
            flex-grow: 1;
        }
    }
}


.basic-dropdown{
    border-radius: 6px;
    a{
        display: block;
        padding: 0.25rem;
        border-bottom: 1px solid #e3e3e3;
        text-transform: capitalize;
        letter-spacing: 1px;
        color: #1a89f0;
    }
    a:hover{
        font-weight: bold;
        color: #1a89f0;
    }
    a:last-child{
        border-bottom: 0px;
    }
}

.customDatePicker{
    height: 40px;
    border:1px solid rgb(201, 206, 214) !important;
    border-radius: 2em !important;
    padding-left: 1em !important;
}
.customDatePicker + div{
    z-index: 2;
    right: 0;
    .flRurG:hover{
        background: #ff9494;
        color: white;
    }
}

.sliderButton{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    border: 1px solid #1a89f0;
    border-radius: 4em;
    .custom-button{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 40px;
        width: 50%;
    }
    .is-selected{
        color: #fff;
        border-radius: 4em;
        font-weight: bold;
    }
}
.sliderButton::before{
    content: ' ';
    position: absolute;
    height: 40px;
    width: 50%;
    background: #1a89f0;
    border-radius: 4em;
    z-index: -1;
    transition: 200ms ease-in-out;
}
.sliderButton-left::before{
    left: 0;
}
.sliderButton-right::before{
    left: 50%;
}

.sliderButton:hover{
    cursor: pointer;
        p{
            font-weight: bold;
        }
}

.react-otp-input{
    input{
        height: 3rem;
        width: 3rem;
        margin-right: 1rem;
        border: 2px solid rgb(0,0,0,0.2);
        font-size: 2rem;
        text-align: center;
    }
}

@media (max-width:$small-tablet){
    .modal-frontlayer{
        position: fixed;
        top: 0;
        bottom: 0;
        height: 100% !important;
    }
    .modal-popup{
        height: 100vh;
        width: 100%;
        .modal-content{
            border-radius: 0;
            height: 100%;
            width: 100%;
            max-width: unset;
            margin: 0px;
        }
        .modal-popup2{
            height: 100%;
        }
    }
    .modal-popup-with-backbutton-mobile{
        .modal-close-button{
            display: none;
        }
        .modal-back-button{
            display: block;
            height: $headerHeight-mobile;
            // margin-left: 0px;
            margin: 0px;
            left: 1.5em;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .modal-popup-header{
            text-align: center;
            height: $headerHeight-mobile;
            border-bottom: 1px solid #e3e3e3;
            padding-top: 0px !important;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .modal-popup-bottom-button{
        .modal-popup-footer{
            padding: 0rem !important;
        }
        .modal-div-remover{
            display: none;
        }
        .modal-popup-footer{
            button{
                border-radius: 0 !important;
                margin: 0 !important;
            }
            .modal-footer-primary-button{
                width: 60%;
            }
            .modal-footer-secondary-button{
                width: 40%;
            }
        }
    }
    .modal-bottom{
        .modal-div-remover{
            display: none;
        }
        .modal-content{
            position: absolute;
            height: fit-content;
            bottom: 0;
            padding: 0px;
            border-top-left-radius: 2em;
            border-top-right-radius: 2em;
            .modal-popup-header{
                padding: 2rem 2rem 0px;
            }
            .modal-popup-content{
                padding: 0rem 2rem;
            }
            .modal-popup-footer{
                button{
                    border-radius: 0;
                    margin: 0;
                }
                .modal-footer-primary-button{
                    width: 60%;
                }
                .modal-footer-secondary-button{
                    width: 40%;
                }
            }
            .modal-popup-with-backbutton{
                
            }
        }
    }
    // remove hover effects
    .custom-checkbox:hover{
        .custom-checkbox-icon{
            border-color: unset;
        }
    }
    .basic-dropdown{
        a:hover{
            font-weight: unset;
            color: unset;
        }
    }
}

@media (max-width:$big-mobile){
    .react-otp-input{
        input{
            font-size: 1.8rem;
        }
    }
}

@media (max-width:$average-mobile){
    .react-otp-input{
        input{
            font-size: 1.4rem;
        }
    }
}

@media (max-width:$mobile){
    .react-otp-input{
        input{
            font-size: 1.2rem;
        }
    }
}