@import '../constant.scss';

.truklay-footer-size{
    height: calc(#{$headerHeight} - calc(2*#{$logo-margin}));
    margin-bottom: $logo-margin;
    width: 100%;
    max-width: 18em;
}

.footer-icon{
    width: calc( #{$footerIconSize} + 1em);
    height: calc( #{$footerIconSize} + 1em);
    margin-top: 1em;
    margin-right: 1em;
    border-radius: 50%;
    border: 1px solid #fff;
}
.footer-icon:hover{
    border-color:  #173458;
}

.footer-main{
    padding: 40px 80px 0px;
    min-height: 300px;
    background: #173458;
    .footer-take-survey{
        path{
            transition: 200 ease;
        }
    }
    .footer-take-survey:hover{
        path{
            fill: #58606a;
        }
    }
    .footer-row{
        display: flex;
        width: 100%;
        justify-content: space-between;

        .footer-column{
            display: flex;
            flex-direction: column;
            .footer-cell{
                position: relative;
                width: fit-content;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                a{
                    color: #fff;
                    font-weight: bold;
                    letter-spacing: 1px;
                    font-size: 15px;
                }
                a::before{
                    content:' ';
                    position: absolute;
                    bottom: 0;
                    width: 0%;
                    height: 1px;
                    background: #fff;
                    transition: 200ms ease-in-out;
                }
                a:hover:before{
                    width: 100%;
                }
            }
            .footer-subcontent{
                font-size: 12px;
                line-height: 16px;
                max-width: 15rem;
                margin-top: 0px;
            }
            .footer-copyright{
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 1px;
                margin: 1rem auto;
            }
        }
        .footer-column:last-child{
            margin-right: 3em;
        }
    }
    .footer-desktop{
        display: flex;
    }
    .footer-mobile{
        display: none;
    }
    .column-flex{
        flex-direction: column;
    }
}

@media (max-width: $small-laptop){
    .footer-icon{
        width: 2em;
        height: 2em;
        margin-top: 1em;
        margin-right: 1em;
        border-radius: 50%;
        border: 1px solid #fff;
    }
    .footer-main{
        padding: 40px 40px 0px;
        .footer-row{
            .footer-column{
                .footer-cell{
                    a{
                        font-size: 14px;
                    }
                }
                .footer-subcontent{
                    font-size: 11px;
                }
            }
            .footer-column:last-child{
                margin: 0;
            }
        }
    }
}

@media (max-width: $big-tablet){
    .footer-main{
        padding: 40px 20px 0px;
        .footer-row{
            .footer-column{
                .footer-cell{
                    a{
                        font-size: 12px;
                        letter-spacing: normal;
                    }
                }
                .footer-subcontent{
                    font-size: 10px;
                }
            }
        }
    }
}
@media (max-width: $small-tablet){
    .footer-desktop{
        display: none !important;
    }
    .footer-mobile{
        display: flex !important;
    }
    .truklay-footer-size{
        margin: 0px auto;
        margin-bottom: $logo-margin;
    }
    .footer-icon{
        width: calc( #{$footerIconSize} + 1em);
        height: calc( #{$footerIconSize} + 1em);
        margin-top: 1em;
        margin-right: 1em;
        border-radius: 50%;
        border: 1px solid #fff;
    }
    .footer-main{
        padding: 40px 40px 20px;
        .footer-row{
            .footer-column{
                .footer-cell{
                    a{
                        font-size: 16px;
                    }
                }
                .footer-subcontent{
                    font-size: 14px;
                }
            }
        }
    }
}
@media (max-width: $big-mobile){
    .footer-icon{
        width: 3em;
        height: 3em;
        margin-top: 1em;
        margin-right: 1em;
        border-radius: 50%;
        border: 1px solid #fff;
    }
    .footer-main{
        padding: 40px 20px 10px;
        .footer-row{
            .footer-column{
                .footer-cell{
                    a{
                        font-size: 12px;
                        letter-spacing: normal;
                    }
                }
                .footer-subcontent{
                    font-size: 10px;
                }
            }
        }
    }
}