@import '../constant.scss';

.truklay-size{
    height: calc(#{$headerHeight} - calc(2*#{$logo-margin}));
    margin: $logo-margin auto;
    width: 100%;
    max-width: 18em;
}

.header-overlay{
    height: $headerHeight;
}

.nav-footer-icon{
    // width: calc( #{$footerIconSize} + 1em);
    // height: calc( #{$footerIconSize} + 1em);
    height: 50px;
    width: 50px;
    margin: 1em 2em 1em;
    border-radius: 50%;
    border: 1px solid #173458;
}
.nav-footer-icon:hover{
    border-color:  #fff;
}

.header-main{
    position: fixed;
    top: 0;
    left: 0%;
    right: 0%;
    display: flex;
    justify-content: space-between;
    height: $headerHeight;
    padding:0px 60px;
    background-color: white;
    z-index: 4;
    .header-marketplace-product{
        display: none;
    }
    .header-nav{
        position: relative;
        flex:1;
        ul{
            padding: 0;
            display: flex;
            margin: 0;
            height: 100%;
            float: right;
            align-items: center;
            list-style: none;
            li{
                position: relative;
                margin-left: calc(2*#{$logo-margin});
                a{
                    color: #58606a;
                    // color: black;
                    font-weight: bold;
                    letter-spacing: 1px;
                    font-size: 16px;
                }
                a::before{
                    content:' ';
                    position: absolute;
                    bottom: 0;
                    width: 0%;
                    height: 1px;
                    background: black;
                    transition: 200ms ease-in-out;
                }
                a:hover:before{
                    width: 100%;
                }
            }
        }
    }
    .header-mobile-nav{
        display: none;
        position: relative;
        flex: 1;
        text-align: right;
        align-self: center;
        .header-navigation-container{
            position: fixed;
            z-index: 4;
            top: $headerHeight;
            bottom: 0;
            // height: 100%;
            width: 100%;
            background: rgb(255,255,255,0.98);
            transition: left 300ms ease;
            .header-navigation-list{
                display: flex;
                flex-direction: column;
                height: 100%;
                // justify-content: space-between;
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;
                .header-navigation-list-item{
                    padding: 20px;
                    text-align: center;
                    border-bottom: 0.5px solid #c3c3c3;
                    height: fit-content;
                    color: #58606a;
                    text-transform: uppercase;
                    a{
                        font-size: 16px;
                        text-transform: uppercase;
                        color: #58606a;
                    }
                }
                .header-navigation-list-item-header{
                    padding: 30px ;
                    font-size: 21px;
                    font-weight: bold;
                }
            }
        }
        .nav-close{
            left: 100%;
        }
        .nav-open{
            left: 0%;
        }
    }
}

@media (max-width: $big-tablet) {
    .truklay-size{
        height: calc(#{$headerHeight-mobile} - calc(2*#{$logo-margin-mobile}));
        margin: $logo-margin-mobile auto;
        max-width: 15em;
    }
    .header-overlay{
        height: $headerHeight-mobile;
    }
    .header-main{
        height: $headerHeight-mobile;
        padding:0px 20px;
        .header-nav{
            ul{
                li{
                    margin-left: calc(2*#{$logo-margin-mobile});
                    a{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media (max-width: $small-tablet){
    .header-main-product{
        .truklay-size{
            display: none;
        }
    }
    .header-main{
        .header-marketplace-product{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            .header-marketplace-product-content{
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 1px;
                margin-left: 1em;
            }
        }
        .header-nav{
            display: none;
        }
        .header-mobile-nav{
            display: block;
            .header-navigation-container{
                top:$headerHeight-mobile;
                // height: $homeHeight-mobile;
            }
        }
    }
}