@import './index.css';
@import './components/index.scss';
@import './pages/index.scss';
@import './icons.scss';
@import './constant.scss';

@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import 'flickity/dist/flickity.min.css';
@import "~video-react/styles/scss/video-react";


.disableSelection{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}
div::selection{
    background: transparent !important;
}

.line-divider{
    height: 2px;
    background: #fff;
    width: 100%;
}
.horizontal-separator{
    height: 0.5px;
    width: 100%;
    background: #e1e1e1;
}
.horizontal-separator-thick{
    height: 2px;
    width: 100%;
    background: #e1e1e1;
}
.vertical-separator{
    width: 1px;
    // height: 100%;
    background: #e1e1e1;
}
.or-divider{
    content: 'or';
    position: relative;
    text-align: center;
    width: 100%;
    color: rgb(0,0,0,0.5);
    font-weight: 600;
    letter-spacing: 1px;
}

.or-divider::before{
    left: 0;
}
.or-divider:after{
    right: 0;
}
.or-divider::before,
.or-divider::after{
    content:' ';
    position: absolute;
    top: 50%;
    height: 2px;
    width: 45%;
    background: rgb(0,0,0,0.3);
}

.disabled-link {
    pointer-events: none !important;
}

.big-tablet,
.big-mobile{
    display: none;
}
.not-big-tablet,
.not-big-mobile{
    display: block;
}

.text-wrap-ellipse{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.loading-screen{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    .loading-screen-content{
        flex: 1;
        background: #fff;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        .vegas-spin{
            -webkit-animation-name: VegasSpin;
            -webkit-animation-duration: 2.5s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            width: 180px;
        }
    }
    .loading-screen-content-full-screen{
        margin-top: 0px;
    }
}

@keyframes VegasSpin{
    0%{
        -webkit-transform: rotateY(0deg);
    }
    100%{
        -webkit-transform: rotateY(360deg);
    }
}
@media (max-width:$big-tablet){
    .big-tablet{
        display: block;
    }
    .not-big-tablet{
        display: none;
    }
    .loading-screen{
        .loading-screen-content{
            margin-top: 60px;
        }
    }
}
@media (max-width:$small-tablet){
    html.touch *:hover {
        pointer-events:none !important;
    }
}
@media (max-width:$big-mobile){
    .big-mobile{
        display: block;
    }
    .not-big-mobile{
        display: none;
    }
}