@font-face {
	font-family: 'NunitoSans-Regular';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/Nunito_Sans/NunitoSans-Regular.ttf');
}
@font-face {
	font-family: 'NunitoSans-ExtraBold';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/Nunito_Sans/NunitoSans-ExtraBold.ttf');
}

:root {
	touch-action: pan-x pan-y;
	height: 100%;
}

body {
	/* position:absolute; */
	font-family: 'NunitoSans-Regular' !important;
}

button,
input {
	font-family: 'NunitoSans-Regular' !important;
}
button {
	font-weight: 600 !important;
}
